a {
  color: #4A00E0;
}

a:visited {
  color: #4A00E0;
}

h1, h2, h3 {
  font-family: 'Space Mono', monospace;
  color: #4A00E0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #141D3E;
  padding: 10px 0;
}

header img {
  max-height: 40px;
}

footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

footer span {
  margin: 0 20px;
}

footer i {
  margin: 0 5px;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-flow: column wrap;
  max-width: 940px;
  margin: 0 auto;
}

article {
  max-width: 840px;
}

article h2, h3 {
  text-align: center;
}

article p {
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
}

.nav {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  padding: 20px;
}

.nav li i {
  margin: 0 5px;
}

.special {
  color: #4A00E0;
}

.avatar {
  max-width: 175px;
}

#mainBody {
  min-height: 450px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 5px 15px 5px;
}
